<!DOCTYPE HTML>
<html lang = "en">
<head>
  <!-- basic.html -->
  <title>Click Star</title>
  <meta charset = "UTF-8" />
</head>
<body>
  <h1>Click Star </h1>
  <p>
    Its not much yet, but we got 3 months to make something
    We can put the game in the script section, or have a login page that leads to the game
    Could have both pages link to the rabbitmq
  </p>
  <form action= {{ url_for('form') }} >
        <input type="submit" value=" Return to login " />
      </form>
  <script>
  </script>
</body>
</html>
