<!DOCTYPE HTML>
<html lang = "en">
<head>
  <!-- basic.html -->
  <title>Click Star</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
canvas {
    border: 10px dashed black;
    background-color: gray;
    background-image: url('https://media.giphy.com/media/4RLQeSPjq5tIc/giphy.gif');
    background-size: cover;
    
}
</style>
</head>
<body onload="startGame()">  

  <h1 >Click Star </h1>
  <p>
 	Welcome to Click Star {{name}}. Your current score is {{score}} > 0.
  </p>
  <form action= {{ url_for('login') }} >
        <input type="submit" value=" Return to login " />
  </form>
</body>
<script>

 
var myGamePiece;
var myGamePiece1;
var rand = Math.floor(Math.random() * 30);
var darn = Math.floor(Math.random() * 230)+100;
var rand1 = Math.floor(Math.random() * 30)+50;
var darn1 = Math.floor(Math.random() * 230)+100;
function startGame() {
    myGamePiece = new component(50,50,"https://i.gifer.com/origin/27/277585ccb134133252f1eecfb77dcbea_w200.gif",rand,darn,"image");
    myGamePiece1 = new component(50,50,"https://i.gifer.com/origin/27/277585ccb134133252f1eecfb77dcbea_w200.gif",rand1,darn1,"image");
    myGameArea.start();
}

var myGameArea = {
    canvas : document.createElement("canvas"),
    start : function() {
        this.canvas.width = 480;
        this.canvas.height = 270;
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
        this.frameNo = 0;
        this.interval = setInterval(updateGameArea, 20);
    },
    stop : function() {
        clearInterval(this.interval);
    },    
    clear : function() {
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    }
}

 function component(width, height, color, x, y, type) {
    this.type = type;
    if (type == "image") {
        this.image = new Image();
        this.image.src = color;
    }
    this.width = width;
    this.height = height;
    this.speedX = 1;
    this.speedY = -2;    
    this.x = x;
    this.y = y;    
    this.update = function() {
        ctx = myGameArea.context;
        if (type == "image") {
            ctx.drawImage(this.image, 
                this.x, 
                this.y,
                this.width, this.height);
        } else {
            ctx.fillStyle = color;
            ctx.fillRect(this.x, this.y, this.width, this.height);
        }
    }
    this.newPos = function() {
        this.x += this.speedX;
        this.y += this.speedY;        
    }
}
function updateGameArea() {
    myGameArea.clear();
    myGamePiece.newPos();
      myGamePiece1.newPos();
    myGamePiece.update();
    myGamePiece1.update();
}

</script>
</html>
