 <!DOCTYPE HTML>

<html lang = "en">
<head>
  <!-- basic.html -->
  <title>Click Star Home</title>
  <link rel="stylesheet" href={{ url_for('static', filename='land.css')}}/>
  <meta charset = "UTF-8" />
</head>
<body style="padding: 100px 100px;">

<div >  
  <h1 class="right" style="font-size: 50px;">Click Star!</h1>
    <form action={{ url_for('form') }} method="post" >  
        <div class="container">   
	    <button type = "submit" class="rightD">Enter</button>
    </div>
    </form> 
    <div class="left" style="  border: 10px solid black;
  border-radius: 5px; padding: 0px 60px;">
    <h2> Welcome to Click Star </h2>
<p>
Welcome to Click Star a new way to learn at home while having fun! Our platform is targeted at kids who may be struggling to keep up with online material or wish to learn more. The methods we employ is focused on having fun while introducing learning material. The idea behind this is that fun activities are memorable ones, if kids are enjoying their work they're more likely to continue with it. We aim to motivate our users with point systems and leaderboards in order to create a sense of accomplishment. An interactive learning experience is created under the guise of a game in order to keep the attention of our students. We created this in order to make sure that no kids are left behind, try us out today! 
</p>
</div>
    <div class="rightDo" style="  border: 10px solid black;
  border-radius: 5px; padding: 0px 20px; ">
    <h2 "> Goals </h2>
<p>
We want to accomplish making a game that can be used by children. 
<br>Specifically with the outcome of them becoming betterin school. 
 <br>This game is going to be a fun study tool kids can use to practice different studies.
  <br> The main example of this is math where the student is given
   <br> a question and they have to click on the right anwser.
   <br> The overall aesthetic of the game is heavily targetd towards 
    <br>children who are in middle school 
 <br>and under with a heavy focus on the students who are in their early stages of learning. 
  <br>This means that while the game has a scoring system it is used for the person's own development 
   <br>and to set goals for themselves to reach a higher score.
</p>
</div>
    <div class="rightDow" style="  border: 10px solid black;
  border-radius: 5px; padding: 0px 20px;">
    <h2> Users </h2>
<p>
What someone could expect from our site is a time filled with fun learning. 
<br>When you login in you'll have a few options on what material to learn. 
<br>For example, if you're looking to brush up on more math we'll present a topic and level. 
<br>In the case of an elementary student, they could pick any grade level from 1 - 5. 
<br>Questions will be assigned according to the grade and for every correct answer they will achieve points towards their score. 
<br>The score will be saved and sent to a leaderboard where users can check where they stand against their peers.
</p>
</div>
   <div class="leftD" style="  border: 10px solid black;
  border-radius: 5px; padding: 10px 60px; ">
    <h2> How to find Click Star </h2>
<p>
Finished product will be in May 2021 brought to you by the members of the IT490 Group 5 who have spent the last few months of the Spring 2021 Semester.
</p>
 
</div>
    </div>

<body>
 
  <script>
  </script>
</body>
</html>
