<!DOCTYPE HTML>
<html lang = "en">
<head>
  <!-- basic.html -->
  <title>Login Star</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" href={{ url_for('static', filename='log.css')}}/>
</head>
<body>
  <h1>Login</h1>

 
    <form class="box"  action={{ url_for('start') }} method="post" >  
        <div class="container">   
          <p  >
 	Welcome to Click Star!
  </p>
    <h3 name = Points value="100"></h3>
            <p style="color: red;">{{message}} </p>
            <label  for="username">Username : </label>   
            <input  class="center" type="text" placeholder="Enter Username" name="username" required>  
            </br>
            <label  for="password">Password : </label>   
            <input  class="center" type="password" placeholder="Enter Password" name="password" required> 
            </br> 
            <button  class="center"type="submit">Login</button>   
            </br>
    	    <a class="center" href={{ url_for('form') }} >Back to Register Page</a>
        </div>   
    </form> 
 
</body>
</html>
