<!DOCTYPE HTML>
<html lang = "en">
<head>
  <!-- basic.html -->
  <title>Register Star</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" href={{ url_for('static', filename='reg.css')}}/>
</head>
<body>
  <h1> Register</h1>
 
    <form class="box" action= {{ url_for('login') }} method="post">
        <div class="container">  
            <p style="color: red; text-size: 10">{{message}} </p>
            <label for='username'> Username : </label>   
            <input  class="center" type="text" placeholder="Enter Username" name="username" required>  
            </br>
            <label for='password'>Password :  </label>  
            <input  class="center" type="password" placeholder="Enter Password" name="password" required> 
            </br> 

            <button class="center" type="submit">Register</button>
            </br>   

             <a class="center" href={{ url_for('login') }} >Go to Login Page</a>
 
    	    </div>   
    </form> 

</body>
</html>
